# db
DB_NAME="warelio"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="localhost"
DB_PORT=5432

# pubsub
RABBIT_HOST="localhost"
RABBIT_EXCHANGE_TYPE="direct"
RABBIT_EXCHANGE_NAME="my_exchange"
RABBIT_QUEUE="my_persistent_queue"
RABBIT_ROUTING_KEY="my_routing_key"

# jwt
ACCESS_TOKEN_LIFETIME=1
REFRESH_TOKEN_LIFETIME=1